.portfolio-part {
  margin-top: 4rem;
}

.content-isi {
  /* width: 100%;
  height: 307px;
  overflow-x: scroll; */
}

p {
  /* width: 100%; */
  margin: 10px;
}

/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.btn-close {
  background-color: red;
  top: 4%;
  left: 90%;
}
/* cell number */
/* .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.modal-dialog.modal-dialog-centered.modal-fullscreen {
  padding: 2rem;
}

.owl-theme .owl-nav {
  top: 5%;
  position: absolute;
  color: #fff;
  font-size: 12rem;
  opacity: 0.8;
}

.owl-next {
  position: relative;
  left: 830%;
}
@media (max-width: 575.98px) {
  p {
    font-size: 0.6em;
  }

  .item {
    width: 250px !important;
  }
  .owl-theme .owl-nav {
    top: 0 !important;
    position: inherit !important;
    color: #000;
    font-size: 18px;
    opacity: 1;
  }

  .owl-next {
    position: none;
    left: 0%;
  }
}
